In [4]:
import pandas as pd
import numpy as np
import flopy
import flopy.utils.binaryfile as bf
import matplotlib.pyplot as plt
import pyemu
import os
import shutil
import flopy.utils.binaryfile as bf
import warnings
warnings.filterwarnings('ignore')

In [5]:
model_ws = os.path.join("LisbonFiles")
os.listdir(model_ws)

['l210621ssh_S1_IH.dat',
 'sa00_flow.ato',
 'sa00_flow.bas',
 'sa00_flow.bcf',
 'sa00_flow.btn',
 'sa00_flow.cbb',
 'sa00_flow.con',
 'sa00_flow.cw5',
 'sa00_flow.ddn',
 'sa00_flow.disrw',
 'sa00_flow.drn',
 'sa00_flow.hcn',
 'sa00_flow.hds',
 'sa00_flow.hfb',
 'sa00_flow.mfw',
 'sa00_flow.nam',
 'sa00_flow.oc',
 'sa00_flow.out',
 'sa00_flow.pcn',
 'sa00_flow.pg5',
 'sa00_flow.rch',
 'sa00_flow.wel',
 'sa00_flow.wl5',
 'sa00_flow_gwv7.gwv']

In [14]:
m = flopy.modflow.Modflow.load("sa00_flow.nam",model_ws=model_ws,verbose=True)

In [9]:
m

NameError: name 'm' is not defined

In [7]:
dis  = pd.read_csv('LisbonFiles/sa00_flow.bas')
dis

                                                                                           Lisbon MF6 Model
0                                                                                                      2021
1                        12       279       229        32         4         0         0         0         1
2        11 16 12  0  0  0  0 13  0  0  0 22  0  0  0 17  0  0  0  0  0 18  0  0  0  0  0  0  0  0  0  0...
3                                                                                               1         1
4                                                                 1         1(25I3)                      -1
...                                                                                                     ...
110540                                                                       365.000000         1    1.1000
110541                                                                       366.000000         1    1.1000
110542                                                                       365.000000         1    1.1000
110543                                                                       365.000000         1    1.1000
110544                                                                       365.000000         1    1.1000

[110545 rows x 1 columns]